@font-face {
    font-family: "Roboto";
    src: 'fonts/Roboto-Regular.ttf';
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font: 'Roboto', cursive;
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
    outline: 0px;
    box-shadow: none;
}

section {
    margin-top: 3%;
}

section.product {
    margin-top: 2%;
}

.footer {
    height: 10em;
}


/* register */

.register {
    border-color: #9a9a9a;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 350px;
    margin: 50px auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.log {
    color: seagreen;
    text-decoration: none;
}

.log:hover {
    text-decoration: underline;
}

.form {
    width: 300px;
    margin: 0 auto;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #000000;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #292929;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #545454;
}


/* end register */


/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px 'Roboto', cursive;
    text-transform: uppercase;
    padding: 1.7rem;
    color: #777777;
}

.header_area .main-menu .navbar-nav .active a {
    background: #141313;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: #141313;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */


/* Shop Area */

.product-area {
    padding: 4rem 0;
}

.product-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px 'Roboto', cursive;
    text-transform: uppercase;
}

.product-area .button-group button:hover {
    color: seagreen;
}

.product-area .button-group button+button {
    padding-left: 3rem;
}

.product-area .grid .our-product>.title h4 {
    font: normal 700 25px/12px 'Roboto', cursive;
}

.product-area .grid .our-product .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Shop Area */


/* About Me */

.about-area .about-title p {
    padding: 1rem 7rem;
}


/* End About Me */


/* Footer Area */

footer {
    padding: 5em 0;
}

footer .social h5 {
    font: normal 500 23px/ 30px 'Roboto', cursive;
}

footer .social a>i {
    font-size: 22px;
    padding: 2em;
    color: #201f1f17;
}

footer .social a:hover>i {
    color: seagreen;
}


/* End Footer */


/* if the viewport is equal to 340px or less than that */

@media only screen and (max-width:540px) {
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand {
        padding: 2%;
        margin: 0%;
    }
    .product-area .button-group button+button {
        padding-left: 1em;
    }
    footer .social a>i {
        font-size: 18px;
        padding: 1em;
    }
}