/*media*/
@media only screen and (max-width: 414px){
    .header_area .main-menu a{
        font-size: 10px;
    }
    .fix-para{
        padding-top:5px;
        font-size: 10px;
        color: white;
    }
    footer.footer-area .social a > i{
        font-size:10px;
        padding: 10px;
    }
    .main .website{
            padding-top: 1rem;
    }

}
@media screen and (max-width: 768px){
    .header_area .main-menu a{
        font-size: 13px;
        padding: 1px;
        font-weight: 500;
    }
    .main-menu{
        height:3rem;
    }
    .main-menu img{
        width:40px;
    }
    .main .about-area{
        padding: 2%;
        margin: 0%;
    }
    .main-menu{
        position: relative;
    }
    footer{
        position: relative;
        height: 5vh;
        bottom: 0;
        width: 100%;
    }
    .main .project1 h2{
        font-size: 30px;
        font-weight: 500;
        color:#ea9215;
    }

    .t3xts{
        font-size: 60px;
    }
    .title{
        font-size: 30px;
        transform: translate(-20%, -50%);
    }
}
@media only screen and (max-width: 1204px){
    html,body{
        overflow-x: hidden;
    }
    .intro-area p{
        font-size: 28px;
    }
    .intro-area{
        margin: 5rem 0 5rem;
    }
    .intro-area{
        padding: 0;
    }

    .selfimg{
        padding-top: 30%;
    }
    .selfimg img{
        padding: 0;
    }
    .title{
        font-size: 30px;
        transform: translate(-20%, -50%);
    }
}
